$bg_primary: #ebecff;
$bg_violet: #704aff;
$bg_red: rgba(255, 91, 91, 0.897);
$bg_violet_dark: #0e202a;
$bg_violet_light: #b1b4f8;
$light_shadow: 0px 4px 11px 1px rgba(34, 60, 80, 0.2);
$transition: all .2s ease-in;